<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExtendedLINQClassicNetFramework.Properties.Settings.SkeetysoftDefectsConnectionString"
            connectionString="Data Source=DESKTOP-E4F46UJ\SQLEXPRESSSERG;Initial Catalog=SkeetysoftDefects;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>